.buzz::before {
	background: blue;
}

.filter-buttons {
	display: none;
	margin: 0 0 20px;
}

.fizz-buzz::before {
	background: green;
}

.fizz::before {
	background: red;
}

.fizzBuzz > .btn {
	align-self: center;
}

.fizzBuzz__item {
	align-items: center;
	box-sizing: border-box;
	display: inline-flex;
	overflow: hidden;
	position: relative;
}

.fizzBuzz__item::before {
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 4px;
}

.fizzBuzz__list {
	height: 100%;
	position: relative;
	transition: all 0.3s ease;
	width: 100%;
}

.fizzBuzz__list.grid-view {
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

.fizzBuzz__list.grid-view.grid-hidden {
	display: none!important;
}

.fizzBuzz__list.grid-view > li {
	background-color: #fff;
	box-shadow: var(--boxshadow-small);
	height: 50px;
	place-content: center;
	width: auto;
}

.fizzBuzz__list.grid-view > li:hover {
	background: #fff;
	transform: scale(1.2);
	transition: all 0.3s ease;
	z-index: 100000;
}

.fizzBuzz__list.list-view {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	place-content: flex-start;
}

.fizzBuzz__list.list-view > li {
	box-shadow: none;
	height: 50px;
	padding: 10px 20px;
	width: auto;
}

.fizzBuzz__list.list-view > li:hover {
	background: #fff;
	transition: all 0.3s ease;
}

.fizzBuzz__list.list-view > li:last-child {
	border-bottom: 1px solid #fff !important;
}

.fizzBuzz__list.list-view > li:nth-child(1n) {
	border: 1px solid #fff;
	border-bottom: none;
}

.fizzDivider {
	display: none;
}

.list-view-button, .grid-view-button {
	margin-right: 10px;
}

.list-view-button:hover, .grid-view-button:hover {
	border: 1px solid var(--accent-color) !important;
	color: var(--accent-color) !important;
	transition: all 0.3s ease;
}

.spinner {
	align-self: center;
	height: 100px;
	margin: 20px auto;
	width: 100px;
}

.spinner circle {
	animation: dash 1.5s ease-in-out infinite 0s;
	fill: none;
	stroke: var(--accent-color);
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	stroke-width: 3;
}

.spinner svg {
	animation: rotate 1.5s linear infinite;
	height: 100%;
	width: 100%;
}

.view-button, .list-view-button, .grid-view-button {
	border: 1px solid var(--main-color);
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	padding: 5px;
	transition: all 0.3s ease;
}

@import 'variables.css';.fizzBuzz {
	align-items: flex-start;
	background: var(--light-color);
	flex-direction: column;
	margin-top: 75px;
	padding: 5%;
	position: relative;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}
}